* {
    margin: 0 auto;
    padding: 0;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
#login_box {
    width: 500px;
    height: 200px;
    border: solid 2px gray;
    margin-top: 15pc;
    background-color: #fff;
}
h3{
    text-align: center;
    margin: 2pc 0;
}
table {
    margin-top: 10px;
}
.mem {
    margin: 2pc 0;
}
.mem a:hover {
    color: red;
    text-shadow: .2px 0px .2px #000;
}
#btn {
    width: 95px;
    height: 55px;
    background: skyblue;
    border: solid 1px skyblue;
}
#btn:hover{
    border: 2px solid #000;
    font-weight: 700;
}
.inph {
    height: 25px;
}