@charset "utf-8";

/* 전체 옵션 */
* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Malgun gothic', 'Sans-Serif', 'Arial';
}

a {
    text-decoration: none;
    color: #333;
}

ul li {
    list-style: none;
}

/* 공통 */
.fl {
    float: left;
}
.tc {
    text-align: center;
}

/* 게시판 목록 */
#board_area {
    width: 900px;
    position: relative;
}
.list-table {
    margin-top: 40px;
}
.list-table thead th {
    height: 40px;
    border-top: 2px solid #09C;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
    font-size: 17px;
}
.list-table tbody td {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
    height: 20px;
    font-size: 14px;
}
#write_btn {
    position: absolute;
    margin-top: 20px;
    right: 0;
}

/* 게시판 글쓰기 */
#board_write {
    width: 900px;
    position: relative;
    margin: 0 auto;
}
#wirte_area {
    margin-top: 70px;
    font-size: 14px;
}
#in_author {
    margin-top: 30px;
}
#in_author textarea {
    font-weight: bold;
    font-size: 26px;
    color: #333;
    width: 900px;
    border: none;
    resize: none;
}
#in_title {
    margin-top: 30px;
}
#in_title textarea {
    font-weight: bold;
    font-size: 26px;
    color: #333;
    width: 900px;
    border: none;
    resize: none;
}
.wi_line {
    border: solid 1px lightgray;
    margin-top: 10px;
}
#in_content  {
    margin-top: 10px;
}
#in_content textarea {
    font: 14px;
    color: #333;
    width: 900px;
    height: 400px;
    resize: none;
}
.bt_se {
    margin-top: 20px;
    text-align: center;
}
.bt_se button {
    width: 100px;
    height: 30px;
}
#board_read {
    width: 900px;
    position: relative;
    word-break: break-all;
}
#user_info {
    font-size: 14px;
}
#user_info ul li {
    float: left;
    margin-left: 10px;
}
#bo_line {
    width: 880px;
    height: 2px;
    background: gray;
    margin-top: 20px;
}
#bo_content {
    width: 860px;
    height: 300px;
    margin: 20px 0;
    padding: 15px 10px;
    background-color: #fff;
    border: solid 3px lightgrey;
    line-height: 1.4;
    overflow-x: visible;
    overflow-y: scroll;
}
#bo_ser {
    font-size: 14px;
    color: #333;
    position: absolute;
    right: 0;
}
#bo_ser > ul > li {
    float: left;
    padding-left: 10px;
}
#bo_ser > ul >li > a:hover{
    font-weight: bolder;
    color: #333;
}
#page_num {
    font-size: 14px;
    margin-left: 330px;
    margin-top: 30px;
    /* display: inline-block; */
}
#page_num ul li {
    float: left;
    margin-left: 10px;
    /* text-align: center; */
}
.fo_re {
    font-weight: bold;
    color: red;
}