#yb {width: 1900px; height: 500px; background: #EBC57C; position: absolute; top: 200px;}
#rootLogo{position: absolute; top: 100px; left: 800px; opacity: 0.5;}
#yggr{position: absolute; top: 550px; left: 480px;}

.mainTitle{font-size: 100px; position: absolute; top: 170px; left: 810px; text-align: center;}
.mainText{font-size: 50px; position: absolute; top: 280px; left: 530px; text-align: center;}
.mainTitle2{font-size: 70px; position: absolute; top: 1000px; left: 800px; text-align: center;}
.mainText2{font-size: 50px; position: absolute; top: 1100px; left: 530px; text-align: center;}
