@charset "UTF-8";

*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{vertical-align: middle; border: none;}

/* 메뉴 */

#mainMenu {
    background:#dee671;
    position:fixed;
    width:1900px;
    z-index:10;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    margin:0 auto;
    border-bottom: 5px solid #fff000;
}
.container{position: relative; margin: 0 auto; top: 0;}

/* 메뉴 로고 */

.logo a{display: block;}
.logo a img{width: 100px; height: auto; margin-top: 10px; margin-left: 120px; float: left; margin-right: 35px;}

/* 메뉴 글자 */

h3{color: #fff; font-size: 40px; font-weight: normal; text-shadow: 1px 1px 1px #000; padding-top: 10px;}
h4{color: #919191; font-size: 20px; font-weight: normal; text-shadow: .5px 1px -1px #000; line-height: 35px; float: left;}

/* 메뉴 바 */

#menu{float: left; float: right; margin-right: 20pc;}
#menu a{display: block; transition: 0.5s;}
#menu>ul{display: flex;}

/* 메뉴 바 선택 */

#menu>ul>li{position: relative;}
#menu>ul>li>a{padding: 0 40px; font-size: 25px; color: #000; line-height: 0;}
#menu>ul>li:hover>a{color: #3b3b3b; text-shadow: 1px 1px 1px #000; font-weight: bold;}

/* 배경 이미지 및 글 */

#logoback{width: 1900px; height: 500px; background: #EBC57C; position: relative; top: 250px; margin: 0 auto;}
#rootLogo{position: absolute; top: 100px; opacity: 1; left: 750px;}
#rootLogo>img{width: 400px; height: 350px;}

#mainTitle{font-size: 100px; position: absolute; top: 170px; left: 810px; text-align: center; font-weight: 700;}
#mainText{font-size: 50px; position: absolute; top: 280px; left: 530px; text-align: center; font-weight: 500;}

#line{width: 1000px; height: 700px;}

/* 소개 페이지 */

#introduce{position: relative; text-align: center;}

#mainTitle2{font-size: 70px; padding-bottom: 50px; text-align: center; font-weight: bolder;}
#mainText2{position: absolute; font-size: 40px; line-height: 4pc; text-align: center; left: 300px;}

/* 트랙 페이지 */

